<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>base</title>
    <th:block th:replace="userCommon :: meta-tags"/>
    <th:block th:replace="userCommon :: core-styles"/>
</head>
<body>
<th:block th:fragment="header">
    <header>
        <div class="main-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/user/logo.png}" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="navbar-item active">
                                <a th:href="@{/}" class="nav-link" th:text="#{home.home}"></a>
                            </li>
                            <li class="navbar-item">
                                <a th:href="@{/books}" class="nav-link" th:text="#{home.shop}"></a>
                            </li>
                            <li class="navbar-item">
                                <a href="about.html" class="nav-link" th:text="#{home.about}"></a>
                            </li>
                            <li class="navbar-item">
                                <a href="faq.html" class="nav-link" th:text="#{home.fag}"></a>
                            </li>
                            <li class="navbar-item">
                                <div sec:authorize="isAnonymous()">
                                    <a th:href="@{/login}" class="nav-link"  th:text="#{home.login}"></a>
                                </div>
                                <div sec:authorize="isAuthenticated()">
                                    <div class="dropdown">
                                        <i class="fa fa-user" aria-hidden="true" data-toggle="dropdown"></i>
                                        <ul class="dropdown-menu">
                                            <li><a th:href="@{/orders}">Orders</a></li>
                                            <li><a th:href="@{/profile}">Profile</a></li>
                                            <li><a th:href="@{/logout}">Log out</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="cart my-2 my-lg-0">
                            <a th:href="@{/cart}"><span>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
                        </div>
                        <a th:href="@{'/?lang=vi'}"><img th:src="@{/images/user/vi.png}"></a>
                        <a style="margin-left: 10px;" th:href="@{'/?lang=en'}"><img th:src="@{/images/user/en.png}"></a>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</th:block>

<th:block th:fragment="footer">

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="address">
                        <h4>Our Address</h4>
                        <h6>The BookStore Theme, 4th Store
                            Beside that building, USA</h6>
                        <h6>Call : 800 1234 5678</h6>
                        <h6>Email : info@bookstore.com</h6>
                    </div>
                    <div class="timing">
                        <h4>Timing</h4>
                        <h6>Mon - Fri: 7am - 10pm</h6>
                        <h6>​​Saturday: 8am - 10pm</h6>
                        <h6>​Sunday: 8am - 11pm</h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="navigation">
                        <h4>Navigation</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                            <li><a href="terms-conditions.html">Terms</a></li>
                            <li><a href="products.html">Products</a></li>
                        </ul>
                    </div>
                    <div class="navigation">
                        <h4>Help</h4>
                        <ul>
                            <li><a href="">Shipping & Returns</a></li>
                            <li><a href="privacy-policy.html">Privacy</a></li>
                            <li><a href="faq.html">FAQ’s</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form">
                        <h3>Quick Contact us</h3>
                        <h6>We are now offering some good discount
                            on selected books go and shop them</h6>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <input placeholder="Name" required>
                                </div>
                                <div class="col-md-6">
                                    <input type="email" placeholder="Email" required>
                                </div>
                                <div class="col-md-12">
                                    <textarea placeholder="Messege"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn black">Alright, Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.398566642289!2d105.78198275107464!3d21.016732585936232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab54e29650c5%3A0x453b5c2a98dc5e98!2zS2VhbmduYW0gSGFub2kgTGFuZG1hcmsgVG93ZXIsIE3hu4UgVHLDrCwgVOG7qyBMacOqbSwgSMOgIE7hu5lpLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1550655852821" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h5>(C) 2017. All Rights Reserved. BookStore Wordpress Theme</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="share align-middle">
                            <span class="fb"><i class="fa fa-facebook-official"></i></span>
                            <span class="instagram"><i class="fa fa-instagram"></i></span>
                            <span class="twitter"><i class="fa fa-twitter"></i></span>
                            <span class="pinterest"><i class="fa fa-pinterest"></i></span>
                            <span class="google"><i class="fa fa-google-plus"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
</th:block>
</body>

</html>
