<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>base</title>
    <th:block th:replace="commons :: meta-tags"/>
    <th:block th:replace="commons :: core-styles"/>
</head>

<body>
    <th:block th:fragment="header(currentUser)">
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <a class="navbar-brand brand-logo" th:href="@{/}">
                    <img src="../../images/logo.svg" alt="logo" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="../../index.html">
                    <img src="../../images/logo-mini.svg" alt="logo" />
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <ul class="navbar-nav navbar-nav-right">
                    <li><a th:href="@{/logout}" style="color: white" th:text="#{home.logout}"></a></li>
                </ul>
            </div>
        </nav>
    </th:block>
    <th:block th:fragment="main-nav(currentUser)">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <div class="nav-link">
                        <div class="user-wrapper">
                            <div class="profile-image">
                                <img src="../../images/faces/face1.jpg" alt="profile image">
                            </div>
                            <div class="text-wrapper">
                                <p class="profile-name" th:text="${currentUser.fullname}"></p>
                                <div>
                                    <small class="designation text-muted" th:text="${currentUser.userRoleEntities[0].roleEntity.roleType}"></small>
                                    <span class="status-indicator online"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li th:if="${@userPermissionServiceImpl.isAdmin(currentUser)}" class="nav-item">
                    <a class="nav-link" th:href="@{/admin/users}">
                        <i class="menu-icon mdi mdi-account"></i>
                        <span class="menu-title">Users</span>
                    </a>
                </li>

                <li th:if="${@userPermissionServiceImpl.isAdmin(currentUser)}" class="nav-item">
                    <a class="nav-link" th:href="@{/admin/chart}">
                        <i class="menu-icon mdi mdi-file-chart"></i>
                        <span class="menu-title">Chart</span>
                    </a>
                </li>
                <li th:if="${@userPermissionServiceImpl.isEmployee(currentUser)}" class="nav-item">
                    <a class="nav-link" th:href="@{/employee/books}">
                        <i class="menu-icon mdi mdi-book"></i>
                        <span class="menu-title" th:text="#{books.books}"></span>
                    </a>
                </li>
                <li th:if="${@userPermissionServiceImpl.isEmployee(currentUser)}" class="nav-item">
                    <a class="nav-link" th:href="@{/employee/orders}">
                        <i class="menu-icon mdi mdi-cast"></i>
                        <span class="menu-title" th:text="#{order.order}"></span>
                    </a>
                </li>
                <li th:if="${@userPermissionServiceImpl.isEmployee(currentUser)}" class="nav-item">
                    <a class="nav-link" th:href="@{/admin/excel}">
                        <i class="menu-icon mdi mdi-file-excel"></i>
                        <span class="menu-title">Excel</span>
                    </a>
                </li>
            </ul>
        </nav>
    </th:block>
</body>
<th:block th:replace="commons :: core-js"/>
</html>
