<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/base.html}" xmlns:sd="">
<head>
    <meta charset="UTF-8">
    <title th:text="#{books.book-manege}"></title>

</head>
<body>
<th:block layout:fragment="content">
    <h2 class="text-center" th:text="#{book.update-book}"></h2>

    <div class="container" style="min-height: 1200px;">
        <h2 class="text-center" style="margin-top: 80px;" th:text="#{book.update-book}"></h2>
        <form id="formBook"  modelAttribute="editBook" method="POST" th:action="@{/employee/editBook}" enctype="multipart/form-data" data-parsley-validate="">
            <input hidden th:name="id" th:value="${book.id}">
            <div class="form-row">
                <label th:text="#{books.name}"></label><span> &nbsp;*</span>
                <div class="form-group col-md-12 form-group__height">
                    <input id="bookName" class="form-control form-group__input" th:name="bookName"
                           th:placeholder="#{books.name}" th:value="${book.name}"
                           data-parsley-required data-parsley-trigger="keyup">
                    <span id="bookName-error" class="message-parsley-errors"></span>
                </div>
            </div>

            <input id="aliasName" th:name="aliasName" hidden>

            <div class="form-row">
                <label th:text="#{books.price}"></label><span> &nbsp;*</span>
                <div class="form-group col-md-12 form-group__height">
                    <input id="price" class="form-control form-group__input" th:name="price"
                           th:placeholder="#{books.price}"
                           type="number" th:value="${book.price}"
                           data-parsley-required data-parsley-trigger="keyup">
                </div>
            </div>

            <div class="form-row">
                <label>Discount</label>
                <div class="form-group col-md-12 form-group__height">
                    <input id="discount" class="form-control form-group__input" th:name="discount"
                           placeholder="Discount" type="number" min="0" max="100" data-parsley-trigger="keyup">
                </div>
            </div>

            <div class="form-row">
                <label th:text="#{book.quantity}"></label><span> &nbsp;*</span>
                <div class="form-group col-md-12 form-group__height">
                    <input id="quantiy" class="form-control form-group__input" th:name="quantity"
                           th:placeholder="#{book.quantity}"
                           type="number" th:value="${book.quantity}"
                           data-parsley-required data-parsley-trigger="keyup">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12 form-group__height">
                    <label th:text="#{books.category}"></label><span> &nbsp;*</span>
                    <select th:name="category.id" class="form-control form-group__input" data-parsley-required>
                        <th:block th:each="category : ${categories}">
                            <option th:value="${category.id}" th:text="${category.name}" th:selected="${book.category.id == category.id}"></option>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12 form-group__height">
                    <label th:text="#{books.publisher}"></label><span> &nbsp;*</span>
                    <select th:name="publisher.id" class="form-control form-group__input" data-parsley-required>
                        <th:block th:each="publisher : ${publishers}">
                            <option th:value="${publisher.id}" th:text="${publisher.name}" th:selected="${book.publisher.id == publisher.id}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12 form-group__height">
                    <label th:text="#{book.author}"></label><span></span>
                    <select th:name="authors" id="authors" class="form-control"  multiple="multiple" style="display: none;">
                        <option th:each="author, itemStat : ${authors}"
                                th:name="|authors[${itemStat.index}].id|"
                                th:value="${author.id}"
                                th:text="${author.name}"
                                th:selected="${book.authors.contains(author)}">
                        </option>
                    </select>
                </div>
            </div>
            <div id="block-images">
                <div class="form-row" style="margin: 15px 0;" th:if="${book.images.empty}">
                    <input class="form-control col-md-9" th:name="images" type="file"/>
                    <button class="btn btn-success btn-add-image" style="margin-left: 85px;">Add</button>
                    <button class="btn btn-danger btn-delete-image" style="margin-left: 20px;">Delete</button>
                </div>
                <div class="form-row" style="margin: 15px 0;" th:if="${!book.images.empty}" th:each="image, row : ${book.images}">
                    <label th:id="'lable-img' + ${row.index}" th:for="img + ${row.index}" th:text="${image.name}" class="form-control col-md-9"></label>
                    <input hidden th:id="'img' + ${row.index}" class="form-control col-md-9 image-input" th:placeholder="${image.name}" th:name="img" type="file" accept="image/*"/>
                    <button class="btn btn-success btn-add-image" style="margin-left: 85px;">Add</button>
                    <button th:attr="data-img-id=${row.index}" class="btn btn-danger btn-remove-image" th:data style="margin-left: 20px;">Delete</button>
                </div>
            </div>
            <div class="form-row">
                <label th:text="Description"></label>
                <div class="form-group col-md-12 form-group__height">
                <textarea th:name="description" id="description" rows="10" class="form-control form-group__input"
                          th:placeholder="Description"
                          type="number"></textarea>
                </div>
            </div>
            <button type="submit" id="btn-addBook" class="btn-success btn btn-block" style="margin-top: 270px;">Add</button>
        </form>

    </div>

</th:block>
<th:block layout:fragment="scripts-customize">
    <link th:href="@{/css/parsley.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/parsley/parsley.min.js}"></script>
    <script th:src="@{/js/parsley/en.js}"></script>
    <script th:src="@{/js/parsley/vi.js}"></script>
    <script type="text/javascript">
        window.ParsleyValidator.setLocale($('#lang').attr('content'));
    </script>
    <script th:src="@{/js/BsMultiSelect.js}"></script>
    <script th:src="@{/js/admin/adminBook.js}"></script>
    <script th:src="@{/ckeditor/ckeditor.js}"></script>
    <script th:inline="javascript">
        $("#authors").bsMultiSelect();
        CKEDITOR.replace( 'description' );
    </script>
</th:block>
</body>
</html>
