<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/base.html}">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/jquery-ui.css}" rel="stylesheet" type="text/css"/>
    <title>Chart</title>
    <style>
        .ui-datepicker-calendar {
            display: none;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <input hidden id="chart-description" th:value="#{chart.description}">
    <div class="input-group" style="margin-bottom: 50px;">
        <label class="col-md-2" for="startDate" th:text="#{chart.select-month}"></label> <br>
        <input name="startDate" id="startDate" autocomplete="off" class="date-picker form-control col-md-2"/>
    </div>

    <div id="container" style="width: 1100px; height: 700px; margin: 0 auto"></div>
</th:block>
<th:block layout:fragment="scripts-customize">
    <script th:src="@{/js/jquery.1.4.1.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/highcharts.js}"></script>
    <script th:src="@{/js/admin/chart.js}"></script>
</th:block>
</body>
</html>
