<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/base.html}" xmlns:sd="">
<head>
    <meta charset="UTF-8">
    <title th:text="#{users.manage}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <h3 th:text="#{users.manage}" class="text-center"></h3>

    <div class="float-right">
        <div class="selectbox">
            <p th:text="#{users.size}"></p>
            <div sd:page-size-selector="javascript">
                <select class="form-control"  id="selectbox">

                </select>
            </div>
        </div>
    </div>
    <div class="float-left" id="btn-delete-user">
        <p>Delete <i class="menu-icon mdi mdi-delete"></i></p>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th width="2%">
                <input type="checkbox" id="getAll">
            </th>
            <th width="2%">
                <p class="sort">
                    <a class="sorted" sd:pagination-sort="id">ID</a>
                </p>
            </th>
            <th>
                <p class="sort">
                    <a class="sorted" sd:pagination-sort="username" th:text="#{login.username}"></a>
                </p>
            </th>
            <th>
                <p class="sort">
                    <a class="sorted" sd:pagination-sort="email">Email</a>
                </p>
            </th>
            <th>
                <p class="sort">
                    <a class="sorted" th:text="#{users.role}"></a>
                </p>
            </th>
            <th>
                <p class="sort">
                    <a class="sorted" sd:pagination-sort="fullname" th:text="#{register.fullname}"></a>
                </p>
            </th>
            <th>
                <p class="sort">
                    <a class="sorted" sd:pagination-sort="fullname" th:text="#{register.address}"></a>
                </p>
            </th>
            <th>
                <p class="sort">
                    <a class="sorted" sd:pagination-sort="phoneNumber" th:text="#{register.phoneNumber}"></a>
                </p>
            </th>
        </tr>
        </thead>
        <tbody>
            <th:block th:each="user : ${users}">
                <tr>
                    <td width="2%">
                        <input type="checkbox" th:attr="data-id=${user.id}" class="getIDs">
                    </td>
                    <td><p th:text="${user.id}"></p></td>
                    <td><p th:text="${user.username}"></p></td>
                    <td><p th:text="${user.email}"></p></td>
                    <td><p th:text="${user.userRoleEntities[0].roleEntity.roleType}"></p></td>
                    <td><p th:text="${user.fullname}"></p></td>
                    <td><p th:text="${user.address}"></p></td>
                    <td><p th:text="${user.phoneNumber}"></p></td>
                </tr>
            </th:block>
        </tbody>
    </table>
    <nav class="paging float-right">
        <ul class="pagination" sd:pagination="full">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>e
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        </ul>
    </nav>

    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" th:text="#{users.add-user}"></button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title float-left"  th:text="#{users.add-user}"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="POST" th:action="@{/admin/createUser}" data-parsley-validate id="form-createUser" modelAttribute="addUser">
                        <div class="form-row">
                            <label th:text="#{login.username}"></label><span> &nbsp;*</span>
                            <div class="form-group col-md-12 form-group__height">
                                <input id="username" class="form-control form-group__input" th:name="username"
                                       th:placeholder="#{login.username}"
                                       data-parsley-required data-parsley-trigger="keyup">
                                <span id="username-error" class="message-parsley-errors"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <label th:text="#{login.email}"></label><span> &nbsp;*</span>
                            <div class="form-group col-md-12 form-group__height">
                                <input id="email" class="form-control form-group__input" th:name="email"
                                       th:placeholder="#{login.email}"
                                       type="email"
                                       data-parsley-required data-parsley-trigger="keyup">
                                <span id="email-error" class="message-parsley-errors"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <label th:text="#{register.fullname}"></label><span> &nbsp;*</span>
                            <div class="form-group col-md-12 form-group__height">
                                <input id="fullname" class="form-control form-group__input" th:name="fullname"
                                       th:placeholder="#{register.fullname}"
                                       data-parsley-trigger="keyup"
                                       data-parsley-required
                                       data-parsley-minlength="12">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12 form-group__height">
                                <label th:text="#{users.role}"></label><span></span>
                                <select th:name="gender" class="form-control form-group__input" data-parsley-required>
                                    <option th:value="${T(com.framgia.bookStore.constants.RoleType).ROLE_USER}" th:text="${T(com.framgia.bookStore.constants.RoleType).ROLE_USER}" selected></option>
                                    <option th:value="${T(com.framgia.bookStore.constants.RoleType).ROLE_EMPLOYEE}" th:text="${T(com.framgia.bookStore.constants.RoleType).ROLE_EMPLOYEE}"></option>
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-primary submit-btn btn-block"
                                th:text="#{register.register}"></button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</th:block>
    <th:block layout:fragment="scripts-customize">
        <script th:src="@{/js/admin/users.js}"></script>
    </th:block>
</body>
</html>
