<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/base.html}" xmlns:sd="">
<head>
    <meta charset="UTF-8">
    <title th:text="#{home.shop}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" th:href="@{/}" th:text="#{home.home}"></a>
            <a class="breadcrumb-item" th:href="@{/books}" th:text="#{home.shop}"></a>
            <span class="breadcrumb-item active" th:text="#{book.detail}"></span>
        </div>
    </div>
    <section th:if="${book} != null" class="product-sec">
        <div class="container">
            <h1 th:text="${book.name}"></h1>
            <div class="row">
                <div class="col-md-6 slider-sec">
                    <!-- main slider carousel -->
                    <div id="myCarousel" class="carousel slide">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            <th:block th:each="image, iter : ${book.images}">
                                <div th:classappend="${iter.index == 0} ? active : ''" class="item carousel-item" th:data-slide-number="${iter.index}">
                                    <img th:src="@{'/images/user/' + ${image.name}}" class="img-fluid">
                                </div>
                            </th:block>
                        </div>
                        <!-- main slider carousel nav controls -->
                        <ul class="carousel-indicators list-inline">
                            <th:block th:each="image,iter : ${book.images}">
                                <li class="list-inline-item" th:classappend="${iter.index == 0} ? active : ''">
                                    <a th:id="'carousel-selector-'+${iter.index}" th:classappend="${iter.index == 0} ? selected : ''" th:data-slide-to="${iter.index}" data-target="#myCarousel">
                                        <img th:src="@{'/images/user/' + ${image.name}}" class="img-fluid">
                                    </a>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                    <!--/main slider carousel-->
                </div>
                <div class="col-md-6 slider-content">
                    <span th:text="#{book.author}"></span>
                    <th:block th:each="author, iter : ${book.authors}">
                        <a th:href="@{'/author/' + ${author.name}}" th:text="${iter.index == 0} ? ${author.name} : ', ' + ${author.name}"></a>
                    </th:block>
                    <p><span th:text="#{book.description}"></span><span th:text="${book.description}"></span></p>
                    <p><span th:text="#{book.quantity}"></span><span th:text="${book.quantity}"></span></p>
                    <p th:inline="text"><span class="name" th:text="#{book.final-price}"></span><span class="removeChar"> $ [[${#numbers.formatDecimal(book.price, 0, 'POINT', 0, 'POINT')}]] </span> VNĐ</p>
                    <div class="btn-sec">
                        <button class="btn" th:text="#{book.add-to-card}"></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section th:if="${book} == null" style="min-height: 300px;">
        <h2 style="margin-top: 110px;" class="text-center text-danger" th:text="#{book.not-found}"></h2>
        <p class="text-center"><a th:href="@{/books}" th:text="#{book.come-back-store}"></a></p>
    </section>
    <section class="related-books" th:if="${book} != null">
        <div class="container">
            <div th:replace="user/top5sell :: top5sell1"></div>
        </div>
    </section>
</th:block>
</body>
</html>
