<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/base.html}" xmlns:sd="">
<head>
    <meta charset="UTF-8">
    <title th:text="#{home.shop}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="index.html" th:text="#{home.home}"></a>
            <span class="breadcrumb-item active" th:text="#{home.shop}"></span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">

            <div class="float-right">
                <div class="selectbox">
                    <p th:text="#{users.size}"></p>
                    <div sd:page-size-selector="javascript">
                        <select class="form-control"  id="selectbox">
                            <option value="1">20</option>
                            <option value="2">30</option>
                            <option value="3">40</option>
                        </select>
                    </div>
                </div>
            </div>
            <h2 th:text="#{books.recently-added}"></h2>
            <div class="recent-book-sec">
                <div class="row">
                    <th:block th:each="book : ${books}">
                        <div class="col-md-3">
                            <div class="item text-center">
                                <img style="width: 165px; height: 260px;" th:src="@{'/images/user/' + ${book.images[0].name}}" alt="img">
                                <p style="height: 48px; overflow: hidden;" th:text="${book.name}"></p>
                                <p th:inline="text"><span class="name" th:text="#{book.final-price}"></span><span class="removeChar"> $ [[${#numbers.formatDecimal(book.price, 0, 'POINT', 0, 'POINT')}]] </span> VNĐ</p>
                                <a th:href="@{'book/' + ${book.aliasName}}" th:text="#{book.show-more}"></a></h6>
                            </div>
                        </div>
                    </th:block>
                </div>
                <nav class="paging float-right">
                    <ul class="pagination" sd:pagination="full">
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>e
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            </div>
            <div th:replace="user/top5sell :: top5sell(${top5Books})"></div>
        </div>
    </section>
</th:block>
</body>
</html>
