<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/base.html}" xmlns:sd="">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link th:href="@{/user/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<th:block layout:fragment="content">
    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" th:href="@{/}" th:text="#{home.home}"></a>
            <span class="breadcrumb-item active" th:text="#{cart.cart}"></span>
        </div>
    </div>
    <div th:if="${param.invalidQuantity != null}">
        <p class="text-center text-danger">Invalid Quantity Cart</p>
    </div>
    <div class="container" style="min-height: 500px;" th:if="${cart != null}">
        <h2 class="text-center" th:text="#{cart.cart}"></h2>
        <div class="row">
            <th:block>
                <table class="table">
                    <thead>
                        <tr>
                            <th width="2%">STT</th>
                            <th width="30%" th:text="#{cart.book-name}"></th>
                            <th width="10%" th:text="#{cart.quantity}"></th>
                            <th width="10%" th:text="#{cart.price}">e</th>
                            <th width="10%" th:text="#{cart.total}"></th>
                            <th width="15%"></th>
                        </tr>
                    </thead>
                    <tbody th:each="item, iter : ${cart}">
                        <tr>
                            <td th:text="${iter.index + 1}"></td>
                            <td><a th:text="${item.getBook().name}" th:href="@{'/book/' + ${item.getBook().aliasName}}"></a></td>
                            <td><input type="number" th:value="${item.quantity}" class="form-control" th:classappend="'quantity-' + ${item.getBook().id}"></td>
                            <td th:inline="text"><span class="removeChar"> $ [[${#numbers.formatDecimal(item.getBook().price, 0, 'POINT', 0, 'POINT')}]] </span> VNĐ</td>
                            <td th:inline="text"><span class="removeChar"> $ [[${#numbers.formatDecimal(item.getBook().price * item.quantity, 0, 'POINT', 0, 'POINT')}]] </span> VNĐ</td>
                            <td>
                                <a th:href="@{'/book/delete-cart-item/' + ${item.getBook().id}}"><button class="btn btn-danger" th:text="#{cart.delete}"></button></a>
                                <button data-th-bookid="${item.getBook().id}" class="btn btn-info btn-update-cart" th:text="#{cart.update}"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </th:block>

        </div>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <a th:href="@{'/book/delete-all-cart'}"><button class="btn btn-danger" th:text="#{cart.delete-all}"></button></a>
            </div>

        </div>
        <div class="row" id="payment-area" style="margin: 50px 0px;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2 class="text-center" th:text="#{cart.payment}"></h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th><span th:text="#{books.total-price}"></span></th>
                            <th><p th:inline="text"><span class="removeChar"> $ [[${#numbers.formatDecimal(totalPrice, 0, 'POINT', 0, 'POINT')}]] </span> VNĐ</p></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th th:text="#{cart.payment}"></th>
                        <td>
                            <select class="form-control" id="payOption">
                                <option value="COD">Ship COD</option>
                                <option value="PayPal">PayPal</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" th:text="#{cart.book}"
                        class="btn btn-primary btn-sm btn-block col-md-12" id="btn-pay">
                </button>
            </div>
        </div>
    </div>
    <div th:if="${cart == null}" style="min-height: 300px;">
        <div th:if="${param.success != null}" class="text-center alert-success margin-bottom-20">Success, check your order</div>
        <h2 style="margin-top: 110px;" class="text-center text-danger" th:text="#{book.not-found}"></h2>
        <p class="text-center"><a th:href="@{/books}" th:text="#{book.come-back-store}"></a></p>
    </div>
</th:block>
<th:block layout:fragment="scripts-customize">
    <script th:src="@{/js/admin/cart.js}"></script>
</th:block>
</body>
</html>
