<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/base.html}" xmlns:sd="">
<head>
    <meta charset="UTF-8">
    <title th:text="#{home.home}"></title>
</head>
<body>
    <th:block layout:fragment="content">
        <section class="slider">
            <div class="container">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="slide">
                            <img th:src="@{/images/user/slide1.jpg}" alt="slide1">
                            <div class="content">
                                <div class="title">
                                    <h3 th:text="#{home.welcome}"></h3>
                                    <h5 th:text="#{home.discovery}"></h5>
                                    <a th:href="@{/books}" class="btn" th:text="#{home.shop-book}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slide">
                            <img th:src="@{/images/user/slide2.jpg}" alt="slide1">
                            <div class="content">
                                <div class="title">
                                    <h3 th:text="#{home.welcome}"></h3>
                                    <h5 th:text="#{home.discovery}"></h5>
                                    <a th:href="@{/books}" class="btn" th:text="#{home.shop-book}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slide">
                            <img th:src="@{/images/user/slide3.jpg}" alt="slide1">
                            <div class="content">
                                <div class="title">
                                    <div class="title">
                                        <h3 th:text="#{home.welcome}"></h3>
                                        <h5 th:text="#{home.discovery}"></h5>
                                        <a th:href="@{/books}" class="btn" th:text="#{home.shop-book}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slide">
                            <img th:src="@{/images/user/slide4.jpg}" alt="slide1">
                            <div class="content">
                                <div class="title">
                                    <h3>welcome to bookstore</h3>
                                    <h5>Discover the best books online with us</h5>
                                    <a href="#" class="btn">shop books</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="recomended-sec">
            <div class="container">
                <div th:replace="user/top5sell :: top5sell(${top5Books})"></div>
            </div>
        </section>
        <section class="about-sec">
            <div class="about-img">
                <figure th:style="'background:url(' + @{images/user/about-img.jpg} + ')no-repeat;'"></figure>
            </div>
            <div class="about-content">
                <h2 th:text="#{home.about}"></h2>
                <p th:text="#{home.description}"></p>
                <p th:text="#{home.des2}"></p>
                <div class="btn-sec">
                    <a th:href="@{/books}" class="btn yellow" th:text="#{home.view-all}"></a>
                    <a th:href="@{/login}" class="btn black" th:text="#{home.subscriptions}"></a>
                </div>
            </div>
        </section>
        <section class="recent-book-sec">
            <div class="container">
                <div class="title">
                    <h2 th:text="#{home.new-books}"></h2>
                    <hr>
                </div>
                <div class="row">
                    <th:block th:each="book : ${get10Books}">
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <div class="item text-center">
                                <th:block th:if="${book.images != null && !book.images.empty}">
                                    <img style="width: 165px; height: 260px;" th:src="@{'/upload/' + ${book.images[0].name}}" alt="img">
                                </th:block>
                                <p style="height: 48px; overflow: hidden;" class="book-title" th:text="${book.name}"></p>
                                <p th:inline="text"><span class="name" th:text="#{book.final-price}"></span><span class="removeChar"> $ [[${#numbers.formatDecimal(book.price, 0, 'POINT', 0, 'POINT')}]] </span> VNĐ</p>
                                <a th:href="@{'book/' + ${book.aliasName}}" th:text="#{book.show-more}"></a></h6>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div class="btn-sec">
                    <a th:href="@{/books}" class="btn gray-btn" th:text="#{home.view-all}"></a>
                </div>
            </div>
        </section>
        <section class="features-sec">
            <div class="container">
                <ul>
                    <li>
                        <span class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                        <h3 th:text="#{home.safe-shopping}"></h3>
                        <h5 th:text="#{home.safe-shopping-guarantee}"></h5>
                        <h6 th:text="#{home.safe-shopping-des}"></h6>
                    </li>
                    <li>
                        <span class="icon return"><i class="fa fa-reply-all" aria-hidden="true"></i></span>
                        <h3 th:text="#{home.30-day-return}"></h3>
                        <h5 th:text="#{home.money-return}"></h5>
                        <h6 th:text="#{home.return-des}"></h6>
                    </li>
                    <li>
                        <span class="icon chat"><i class="fa fa-comments" aria-hidden="true"></i></span>
                        <h3 th:text="#{home.24-7-support}"></h3>
                        <h5 th:text="#{home.online-onsultations}"></h5>
                        <h6 th:text="#{home.safe-shopping-des}"></h6>
                    </li>
                </ul>
            </div>
        </section>
        <section class="offers-sec" th:style="'background:url(' + @{images/user/offers.jpg} + ')no-repeat;'">
            <div class="cover"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="detail">
                            <h3 th:text="#{home.top-50}"></h3>
                            <h6 th:text="#{home.top-50-more}"></h6>
                            <a th:href="@{/books}" class="btn blue-btn" th:text="#{home.view-all}"></a>
                            <span class="icon-point percentage">
                            <img th:src="@{images/user/precentagae.png}" alt="">
                        </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="detail">
                            <h3 th:text="#{home.sale-off}"></h3>
                            <h6 th:text="#{home.sale-off-more}"></h6>
                            <a th:href="@{/books}" class="btn blue-btn" th:text="#{home.view-all}"></a>
                            <span class="icon-point amount" style="opacity: 0.5"><img th:src="@{images/user/amount.png}" alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="testimonial-sec">
            <div class="container">
                <div id="testimonal" class="owl-carousel owl-theme">
                    <div class="item">
                        <h3 th:text="#{home.cus-rev}"></h3>
                        <div class="box-user">
                            <h4 class="author">Susane Mathew</h4>
                            <span class="country">Australia</span>
                        </div>
                    </div>
                    <div class="item">
                        <h3 th:text="#{home.cus-rev}"></h3>
                        <div class="box-user">
                            <h4 class="author">Susane Mathew</h4>
                            <span class="country">Australia</span>
                        </div>
                    </div>
                    <div class="item">
                        <h3 th:text="#{home.cus-rev}"></h3>
                        <div class="box-user">
                            <h4 class="author">Susane Mathew</h4>
                            <span class="country">Australia</span>
                        </div>
                    </div>
                    <div class="item">
                        <h3 th:text="#{home.cus-rev}"></h3>
                        <div class="box-user">
                            <h4 class="author">Susane Mathew</h4>
                            <span class="country">Australia</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-quote">
                <img th:src="@{images/user/left-quote.png}" alt="quote">
            </div>
            <div class="right-quote">
                <img th:src="@{images/user/right-quote.png}" alt="quote">
            </div>
        </section>
    </th:block>
</body>
</html>
