<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/base.html}" xmlns:sd="">
<head>
    <meta charset="UTF-8">
    <title th:text="#{home.home}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" th:href="@{/}" th:text="#{home.home}"></a>
            <a class="breadcrumb-item" th:href="@{/books}" th:text="#{home.shop}"></a>
            <span class="breadcrumb-item active" th:text="#{home.orders}"></span>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center" th:text="#{home.orders}"></h2>
        <table class="table">
            <thead>
            <tr>
                <th>
                    <p class="sort">
                        <a class="sorted" sd:pagination-sort="id">STT</a>
                    </p>
                </th>
                <th>
                    <p class="sort">
                        <a class="sorted" sd:pagination-sort="status">Status</a>
                    </p>
                </th>
                <th>Order Date</th>
                <th th:text="#{cart.payment}"></th>
                <th width="40%" th:text="#{orders.total-price}">
                </th>
                <th width="10%">

                </th>
            </tr>
            </thead>
            <tbody th:each="order, iter : ${orders}">
                <tr>
                    <td th:text="${iter.index + 1}"></td>
                    <td>
                        <button th:if="${order.status == 0}" class="btn" th:text="#{orders.wait}"></button>
                        <button th:if="${order.status == 1}" class="btn" th:text="#{orders.handle}"></button>
                        <button th:if="${order.status == 2}" class="btn" th:text="#{orders.done}"></button>
                    </td>
                    <td th:text="${order.orderDate}"></td>
                    <td th:text="${order.payment}"></td>
                    <td>
                        <span class="removeChar"> $ [[${#numbers.formatDecimal(order.totalPrice, 0, 'POINT', 0, 'POINT')}]] </span> VNĐ
                    </td>
                    <td>
                        <a th:href="@{'/order/' + ${order.id}}"><button class="btn btn-sm btn-info" th:text="#{orders.view-more}"></button></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</th:block>
</body>
</html>
