<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sd="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="top5sell(top5Books)">
    <h2 th:text="#{books.You-may-also-like-these-book}"></h2>
    <div class="recomended-sec">
        <div>
            <div class="row">
                <th:block th:each="row : ${top5Books}">
                    <div class="col-lg-3 col-md-6">
                        <div class="item">
                            <img width="165px" heigh="260px" th:src="@{'/images/user/' + ${row.images[0].name}}" alt="img">
                            <p th:text="${row.name}"></p>
                            <p th:inline="text"><span class="name" th:text="#{book.final-price}"></span><span class="removeChar"> $ [[${#numbers.formatDecimal(row.price, 0, 'POINT', 0, 'POINT')}]] </span> VNĐ</p>
                            <a th:href="@{'book/' + ${row.aliasName}}" th:text="#{book.show-more}"></a></h6>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="top5sell1(top5Books)">
    <h2 th:text="#{books.You-may-also-like-these-book}"></h2>
    <div class="recomended-sec">
        <div>
            <div class="row">
                <th:block th:each="row : ${top5Books}">
                    <div class="col-lg-3 col-md-6">
                        <div class="item">
                            <img width="165px" heigh="260px" th:src="@{'/images/user/' + ${row.images[0].name}}" alt="img">
                            <p th:text="${row.name}"></p>
                            <p th:inline="text"><span class="name" th:text="#{book.final-price}"></span><span class="removeChar"> $ [[${#numbers.formatDecimal(row.price, 0, 'POINT', 0, 'POINT')}]] </span> VNĐ</p>
                            <a th:href="@{'' + ${row.aliasName}}" th:text="#{book.show-more}"></a></h6>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
