<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Login Page</title>
    <th:block th:replace="commons :: meta-tags"/>
    <th:block th:replace="commons :: core-styles"/>
    <!-- plugins:css -->
    <link th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/vendors/css/vendor.bundle.base.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/vendors/css/vendor.bundle.addons.css}" rel="stylesheet" type="text/css"/>
    <!-- endinject -->
    <link th:href="@{/images/favicon.png}" rel="shortcut icon"/>
</head>

<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
            <div class="row w-100">
                <div class="col-lg-4 mx-auto">
                    <div class="auto-form-wrapper">
                        <form method="POST" th:action="@{/j_spring_security_login}" data-parsley-validate>
                            <div th:if="${param.error != null}" th:text="#{login.error}" class="text-center alert-danger margin-bottom-20"></div>
                            <div id="reset-password-message" class="text-center margin-bottom-20"></div>
                            <div class="form-row">
                                <div class="form-group col-md-12 form-group__height">
                                    <input id="username-login" class="form-control form-group__input" th:name="username"
                                           th:placeholder="#{login.username}"
                                           data-parsley-required data-parsley-trigger="keyup">
                                    <span id="username-error" class="message-parsley-errors"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12 form-group__height">
                                    <input class="form-control form-group__input" id="password" th:name="password"
                                           th:placeholder="#{login.password}"
                                           data-parsley-required data-parsley-trigger="keyup"
                                           type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary submit-btn btn-block" th:text="#{login.login}"></button>
                            </div>
                            <div class="form-group d-flex justify-content-between">
                                <div class="form-check form-check-flat mt-0">
                                    <label class="form-check-label">
                                        <input type="checkbox" name="remember-me" class="form-check-input" checked th:text="#{login.keep-me-signed-in}">
                                    </label>
                                </div>
                                <a id="reset-password" class="text-small forgot-password text-black" th:text="#{login.forgot-password}"></a>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-block g-login">
                                    <img class="mr-3" src="/images/auth/googlePlus.png" width="25px" height="25px"
                                         alt="" th:text="#{login.log-in-with-google}">
                                </button>
                            </div>
                            <div class="text-block text-center my-3">
                                <span class="text-small font-weight-semibold" th:text="#{login.not-a-member}"></span>
                                <a th:href="@{/register}" class="text-black text-small" th:text="#{login.create-new-account}"></a>
                            </div>
                        </form>
                    </div>
                    <p class="footer-text text-center">copyright © 2018 Hoang Ngoc Hai. All rights
                        reserved.</p>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<th:block>
    <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
    <script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
    <script th:src="@{/js/off-canvas.js}"></script>
    <script th:src="@{/js/misc.js}"></script>
    <script th:src="@{/js/login/login.js}"></script>
</th:block>
<!-- endinject -->
<th:block th:replace="commons :: core-js"/>
<th:block th:replace="commons :: validate"/>
</body>

</html>