<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Update Password</title>
    <th:block th:replace="commons :: meta-tags"/>
    <th:block th:replace="commons :: core-styles"/>
    <!-- plugins:css -->
    <link th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/vendors/css/vendor.bundle.base.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/vendors/css/vendor.bundle.addons.css}" rel="stylesheet" type="text/css"/>
    <!-- endinject -->
    <link th:href="@{/images/favicon.png}" rel="shortcut icon"/>
</head>

<body>
<input hidden id="update-password-fail" th:value="#{update-password.fail}">
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
            <div class="row w-100">
                <div class="col-lg-4 mx-auto">
                    <div class="auto-form-wrapper">
                        <form method="POST" id="form-update-password" th:action="@{/update-password}" th:object="${UpdatePassword}" data-parsley-validate>
                            <div id="update-password-message" class="text-center margin-bottom-20"></div>
                            <div class="form-row">
                                <input hidden th:value="${userId}" th:name="id">
                                <div class="form-group col-md-12 form-group__height">
                                    <input class="form-control form-group__input" id="password" th:name="password"
                                           th:placeholder="#{login.password}"
                                           data-parsley-required data-parsley-trigger="keyup" data-parsley-minlength="6"
                                           type="password">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12 form-group__height">
                                    <input class="form-control form-group__input" id="password"
                                           th:placeholder="#{register.confirm-password}"
                                           data-parsley-required data-parsley-trigger="keyup"
                                           data-parsley-equalto="#password"
                                           type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary submit-btn btn-block" th:text="#{update-password.update}"></button>
                            </div>
                            <div class="text-block text-center my-3">
                                <a th:href="@{/login}" class="text-black text-small"
                                   th:text="#{login.login}"></a>
                            </div>
                        </form>
                    </div>
                    <p class="footer-text text-center">copyright © 2018 Hoang Ngoc Hai. All rights
                        reserved.</p>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<th:block th:replace="commons :: core-js"/>
<th:block>
    <script th:src="@{/js/login/login.js}"></script>
</th:block>
<!-- endinject -->
<th:block th:replace="commons :: validate"/>
</body>
</html>